pip install librosa
pip install googledrivedownloader
pip install torch==1.10.0+cu111 torchaudio==0.10.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html
pip install wandb
pip install matplotlib
